# Bytecode / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Logs / misc
*.log
*.tmp

# Packaging
*.egg-info/

# OS / editor junk
.DS_Store
Thumbs.db
.vscode

# Built stuff
dist/*
build/*
output/*
*.p12
version_info.txt

# I have no idea
.history